.main-button-size
	width: 361px
	height: 79px
	font-size: 32.58px
		font-weight: 600
.input-size
	width: 361px
	height: 79px
	font-size: 32.58px
		font-weight: 600

.half-page-right
	width: 50%
	height: 100%
	float: right
	.content
		padding-top: 10%
		padding-left: 10%
		position: relative

body
	overflow: hidden
ui-view
	position: relative
	top: 86px