.home
	width: 100vw
	height: 100vh
	display: flex
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox
	display: -webkit-flex
	-webkit-flex-direction: row
	-ms-flex-direction: row
	flex-direction: row
	flex-wrap: nowrap
	-webkit-flex-wrap: nowrap
	-ms-flex-wrap: nowrap
	.home-student
		width: 50%
		height: 100%
		display: inline-block
		position: relative
		background-image: url("../assets/DeathtoStock_Wired5.jpg")
		background-size: cover
		background-repeat: no-repeat
		background-position: center left
	.home-teacher
		width: 50%
		height: 100%
		display: inline-block
		position: relative
		background-image: url("../assets/DeathtoStock_Creative Community9.jpg")
		background-size: cover
		background-repeat: no-repeat
		background-position: bottom right