<div class="home">
	<div class="home-student">
		<div class="home-bottom-bar">
			<div class="home-student-login-info">
				<h2>Student</h2>
				<p>Lorem ipsum dolor sit amet, consectetur</p>
			</div>
			<div class="home-login-btn" ui-sref="studentLogin">
				<p>Login</p>
			</div>
		</div>
	</div>
	<div class="home-teacher">
		<div class="home-bottom-bar">
			<div class="home-teacher-login-info">
				<h2>Teacher</h2>
				<p>Lorem ipsum dolor sit amet, consectetur</p>
			</div>
			<div class="home-login-btn" ui-sref="teacherLogin">
				<p>Login</p>
			</div>
		</div>
	</div>
</div>