<div class="column-left">
    <div class="content">
        <h2 class="md-display-2" style="font-size: 25px;">Teacher Login</h2>
        <md-input-container>
            <input class="main-button-size" type="text" placeholder="username" name="userName" ng-model="user.name" required>
        </md-input-container>
        <br>
        <md-input-container>
            <input class="input-size" type="password" placeholder="password" name="userPassword" ng-model="user.password" required>
        </md-input-container>
        <br>


        <md-list-item>
            <md-checkbox class="md-primary"></md-checkbox>
            <p>Remember me</p>
        </md-list-item>


        <br>
        <md-button class="md-raised md-primary main-button-size" ui-sref="courseSelect"><p style="margin-top: 6.5%;">Login</p></md-button>
    </div>
</div>